ion-content {
  // --background: #fff url("../../assets/images/advertise/advertise.png")
  //   no-repeat center center / cover;
  //--background: #000000;
}
ion-icon {
  width: 95%;
  height: 95%;
  color: var(--ion-color-primary-contrast);
  padding: 2.5%;
  border-radius: 1vh;
}
ion-icon:hover {
  width: 100%;
  height: 100%;
  color: var(--ion-color-warning);
}
#call {
  background-color: var(--ion-color-success-tint);
  border-radius: 18px;
}
#iconcall {
  width: 20px;
}
ion-col {
  padding: 0;
}
#ioninputtext {
  background-color: var(--ion-color-primary-contrast);
  //color: var(--ion-color-success-contrast);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
#emotic {
  color: var(--ion-color-warning);
}

#gif {
  text-align: center;
  color: var(--ion-color-primary-contrast);
}
#gif:hover {
  background-color: var(--ion-color-primary-tint);
  color: var(--ion-color-primary-contrast);
}
.fileInput {
  background-color: var(--ion-color-primary-contrast);
  color: var(--ion-color-success-contrast);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.filename {
  background-color: var(--ion-color-success-contrast);
  width: -moz-fit-content;
  width: fit-content;
  color: var(--ion-color-primary-contrast);
  margin-left: 2vw;
  margin-top: 2vh;
  padding: 2px;
  border-radius: 5px;
}
.fileInputhid {
  display: none;
}
::-webkit-file-upload-button {
  /* border-radius: 100px;
  width: 20%;
  outline: none;
  color: white;
  background-color: cornflowerblue; */
  display: none;
}

app-text {
  display: block;
}
/*
.chatTest {
  rotate: 180deg;
}

#cont {
  rotate: 180deg;
}*/

#pic_send_cancel_btn {
  bottom: 0;
}

.my-custom-class-record {
  //--background: rgba(0, 0, 0, 0);
  --height: 50vh;
  --width: 80vw;
}

.my-custom-class-img {
  //--background: rgba(0, 0, 0, 0);
  --height: 50vh;
  --width: 80vw;
}

.my-custom-class-dsp-img {
  --background: rgba(0, 0, 0, 0);
  --height: 50vh;
  --width: 80vw;
}

#call_cancel_btn {
}

.fs {
  width: 100vw;
  height: 100vh;
  //background: black;
}

.replytext {
}
#replycard {
  width: -webkit-fill-available;
  //background: var(--ion-color-medium);
  border-radius: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  border-left: 2px solid var(--ion-color-warning);
}
.clearreply {
  background: var(--ion-color-warning);
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
