ion-content {
  --background: #fff url("../../assets/images/advertise/advertise.png")
    no-repeat center center / cover;
}
ion-icon {
  width: 95%;
  height: 95%;
  color: cornflowerblue;
  padding: 2.5%;
  border-radius: 1vh;
}
ion-icon:hover {
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
  color: white;
}
ion-col {
  padding: 0;
}
ion-input {
  border-bottom: 1px solid gainsboro;
  border-radius: 5px;
}
#gif {
  text-align: center;
}
#gif:hover {
  background-color: cornflowerblue;
  color: white;
}
.fileInput {
  outline: none;
  border-radius: 12px;
  font-size: 90%;
  padding: 1vh;
  width: 50vw;
}
::-webkit-file-upload-button {
  /* border-radius: 100px;
  width: 20%;
  outline: none;
  color: white;
  background-color: cornflowerblue; */
  display: none;
}

app-text {
  display: block;
}

.chatTest {
  rotate: 180deg;
}

#cont {
  rotate: 180deg;
}

ion-img {
  width: 45vw;
}
