ion-card {
  // background: black;
  // color: white;
}

.scrollablec {
  max-height: 20vh;
  overflow: scroll;
  // background-color: white;
  font-size: xx-large;
}

.emotic {
  border-top-right-radius: 3vw;
  border-top-left-radius: 3vw;
  padding-left: 4.5vw;
}

.head {
  text-align: center;
  //background-color: black;
  // color: white;
}
