<ion-menu side="end" type="push" contentId="main">
  <ion-header>
    <ion-toolbar>
      <!-- <ion-buttons *ngIf="!notHome" slot="start">
        <ion-button (click)="back()">Back</ion-button>
      </ion-buttons> -->
      <ion-title>{{ value }}</ion-title>
      <ion-item slot="end">
        <ion-avatar slot="end">
          <img src="{{ image }}" />
        </ion-avatar>
        <ion-label>{{ currentUser }}</ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="gotoSetting()">Settings</ion-item>
      <ion-item (click)="gotoProfile()">Profile</ion-item>
      <ion-item (click)="gotoChat()">Chat</ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons>
        <ion-button (click)="logout()">logout</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<ion-modal
  #callmodal
  [canDismiss]="false"
  [initialBreakpoint]="1"
  [breakpoints]="[0.1, 1]"
  [backdropBreakpoint]="0.1"
>
  <ng-template>
    <app-test
      [talker]="talker"
      [other]="other"
      (onEndCall)="endcall($event)"
    ></app-test>
  </ng-template>
</ion-modal>
