#textWrap {
  // display: flex;
  width: 100%;
}

#msgtxtRight {
  position: absolute;
  width: 80vw;
  right: 6vw;
  bottom: 0;
  padding: 3px;
}

#msgtxtLeft {
  position: absolute;
  width: 80vw;
  left: 6vw;
  bottom: 0;
  padding: 3px;
}

ion-avatar {
  width: 15px;
  height: 15px;
}

.ionavatarleft {
  width: 15px;
  height: 15px;
  margin-right: 2px;
}
.ionavatarright {
  width: 15px;
  height: 15px;
  margin-left: 2px;
}

ion-card {
  width: fit-content;
  max-width: 100%;
  padding: 0.5vh;
  margin: 0.5vh;
  font-size: 16px;
  color: var(--ion-color-primary-contrast);
}

.chat_image {
  width: 99% !important;
}

.time {
  font-size: 10px;
  color: var(--ion-color-primary);
  font-weight: bold;
  text-align: center;
}

ion-icon {
  width: 15px;
  height: 15px;
}
.seen {
  color: var(--ion-color-success);
}
.notseen {
  color: var(--ion-color-medium-tint);
}

.my-custom-class-dsp-img {
  //--background: rgba(0, 0, 0, 0);
  --height: 50vh;
  --width: 80vw;
}

.couple {
  background: #0000003d;
  padding: 1px;
  color: var(--ion-color-warning-tint);
  border-left: 2px solid var(--ion-color-warning);
  text-align: left;
  padding-left: 4px;
  font-size: 16px;
}
.couple_header {
  color: var(--ion-color-warning);
  font-size: 20px;
}
