#textWrap {
  // display: flex;
  width: 100%;
}

#msgtxtRight {
  position: absolute;
  width: 80vw;
  right: 6vw;
  bottom: 0;
  padding: 3px;
}

#msgtxtLeft {
  position: absolute;
  width: 80vw;
  left: 6vw;
  bottom: 0;
  padding: 3px;
}

ion-avatar {
  width: 15px;
  height: 15px;
}

.ionavatarleft {
  width: 15px;
  height: 15px;
  margin-right: 2px;
}
.ionavatarright {
  width: 15px;
  height: 15px;
  margin-left: 2px;
}

ion-card {
  width: fit-content;
  max-width: 100%;
  padding: 0.5vh;
  margin: 0.5vh;
  font-size: 23px;
  background-color: lavender;
  color: currentColor;
}

.chat_image {
  width: 99% !important;
}

.time {
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
}

ion-icon {
  width: 15px;
  height: 15px;
}
.seen {
  color: green;
}
.notseen {
  color: grey;
}

.my-custom-class-dsp-img {
  --background: rgba(0, 0, 0, 0);
  --height: 50vh;
  --width: 80vw;
}
