<ion-grid *ngIf="!eleted">
  <div class="time">
    {{ time }}
  </div>
  <ion-row size="12" *ngIf="leftSide()">
    <ion-col size="8" *ngIf="type == 'text'">
      <ion-row size="12">
        <ion-col size="1">
          <div>
            <ion-avatar slot="start" class="ionavatarleft">
              <img [src]="rimage" />
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col size="11">
          <ion-card>
            {{ text }}
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="8" *ngIf="type == 'image'">
      <ion-row size="12">
        <ion-col size="1">
          <div>
            <ion-avatar slot="start" class="ionavatarleft">
              <img [src]="rimage" />
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col size="11">
          <ion-card class="chat_image">
            <ion-img (click)="displayPic(data)" [src]="data"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="8" *ngIf="type == 'file'">
      <ion-row size="12">
        <ion-col size="1">
          <div>
            <ion-avatar slot="start" class="ionavatarleft">
              <img [src]="rimage" />
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col size="11">
          <ion-card>
            <img
              *ngIf="!file_data_type_img"
              src="http://localhost:8100/assets/icon/file.png"
              style="max-width: 30%"
            />
            <img
              *ngIf="file_data_type_img"
              src="http://localhost:8100/assets/icon/image.png"
              style="max-width: 30%"
              (click)="displayPic(dataUrl)"
            />
            <!-- <a [href]="dataUrl">{{ text }}</a> -->
            <div>
              <a href="dataUrl" [download]="text">{{ text }}</a>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="8" *ngIf="type == 'audio'">
      <ion-row size="12">
        <ion-col size="1">
          <div>
            <ion-avatar slot="start" class="ionavatarleft">
              <img [src]="rimage" />
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col size="11">
          <audio controls style="width: -webkit-fill-available">
            <source [src]="aud_src" type="audio/mpeg" />
            Your device does not support the audio element.
          </audio>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="4"> </ion-col>
  </ion-row>
  <ion-row size="12" *ngIf="!leftSide()" style="text-align: right">
    <ion-col size="4"> </ion-col>
    <ion-col size="8" *ngIf="type == 'text'">
      <ion-row size="12">
        <ion-col size="11" style="text-align: -webkit-right">
          <ion-card>
            {{ text }}
            <div *ngIf="seen">
              <ion-icon class="seen" name="checkmark-done-outline"></ion-icon>
            </div>
            <div *ngIf="!seen">
              <ion-icon
                class="notseen"
                name="checkmark-done-outline"
              ></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="1">
          <ion-row>
            <div>
              <ion-avatar slot="start" class="ionavatarright">
                <img [src]="image" />
              </ion-avatar>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="8" *ngIf="type == 'image'">
      <ion-row size="12">
        <ion-col size="11">
          <ion-card class="chat_image">
            <ion-img
              *ngIf="!zoom"
              (click)="displayPic(data)"
              [src]="data"
            ></ion-img>
          </ion-card>
        </ion-col>
        <ion-col size="1">
          <ion-row>
            <div>
              <ion-avatar slot="start" class="ionavatarright">
                <img [src]="image" />
              </ion-avatar>
            </div>
          </ion-row>
          <ion-row> </ion-row>
          <ion-row>
            <div>
              <ion-icon name="checkmark-done-circle-outline"></ion-icon>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="8" *ngIf="type == 'file'">
      <ion-row size="12">
        <ion-col size="11">
          <ion-card>
            <img
              *ngIf="!file_data_type_img"
              src="http://localhost:8100/assets/icon/file.png"
              style="max-width: 30%"
            />
            <img
              *ngIf="file_data_type_img"
              src="http://localhost:8100/assets/icon/image.png"
              style="max-width: 30%"
              (click)="displayPic(dataUrl)"
            />
            <!--  <a [href]="dataUrl">{{ text }}</a> -->
            <div>
              <a href="dataUrl" [download]="text">{{ text }}</a>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="1">
          <ion-row>
            <div>
              <ion-avatar slot="start" class="ionavatarright">
                <img [src]="image" />
              </ion-avatar>
            </div>
          </ion-row>
          <ion-row> </ion-row>
          <ion-row>
            <div>
              <ion-icon name="checkmark-done-circle-outline"></ion-icon>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="8" *ngIf="type == 'audio'">
      <ion-row size="12">
        <ion-col size="11">
          <audio controls style="width: -webkit-fill-available">
            <source [src]="aud_src" type="audio/mpeg" />
            Your device does not support the audio element.
          </audio>
        </ion-col>
        <ion-col size="1">
          <ion-row>
            <div>
              <ion-avatar slot="start" class="ionavatarright">
                <img [src]="image" />
              </ion-avatar>
            </div>
          </ion-row>
          <ion-row> </ion-row>
          <ion-row>
            <div>
              <ion-icon name="checkmark-done-circle-outline"></ion-icon>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
