<ion-grid>
  <ion-row size="12" *ngIf="leftSide()">
    <ion-col size="8">
      <ion-row size="12">
        <ion-col size="1">
          <div>
            <ion-avatar slot="start" style="height: 5vw; width: 5vw">
              <img src="assets/avatar.png" />
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col size="11">
          <ion-card> {{ text }}</ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="4"> </ion-col>
  </ion-row>
  <ion-row size="12" *ngIf="!leftSide()" style="text-align: right">
    <ion-col size="4"> </ion-col>
    <ion-col size="8">
      <ion-row size="12">
        <ion-col size="11" style="text-align: -webkit-right">
          <ion-card> {{ text }} </ion-card>
        </ion-col>
        <ion-col size="1">
          <div>
            <ion-avatar slot="start" style="height: 5vw; width: 5vw">
              <img src="assets/avatar.png" />
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
