<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="gotoNewFriend()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" [routerLink]="['/profile']">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="presentMapModal()">
        <ion-icon name="location-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid>
    <ion-row size="12">
      <ion-col size="12">
        <ion-searchbar
          id="sc"
          #inpt
          (input)="search($event, inpt.value)"
        ></ion-searchbar>
        <ion-list #cilist id="listid">
          <ion-item
            *ngFor="let friend of friends | keyvalue : originalOrder"
            [routerLink]="['/message', friend.key]"
            (click)="gotoChatDetail(friend.key)"
          >
            <ion-avatar slot="start">
              <img src="assets/avatar.png" />
            </ion-avatar>
            <ion-label>
              <h2>
                <b>{{ friend.key }}</b>
              </h2>
              <h3 *ngIf="friend.value[friend.value.length - 2]">
                {{ friend.value[friend.value.length - 2].text }}
              </h3>
              <p *ngIf="friend.value[friend.value.length - 1]">
                {{ friend.value[friend.value.length - 1].text }}
              </p>
            </ion-label>

            <ion-badge
              color="danger"
              *ngIf="
                unreadMessagesNo.get(friend.key) != undefined &&
                unreadMessagesNo.get(friend.key) != null &&
                unreadMessagesNo.get(friend.key).length > 0
              "
              slot="end"
              >{{ unreadMessagesNo.get(friend.key).length }}</ion-badge
            >
            <!-- <ion-label>
              <h2>
                <b>{{ key }}</b>
              </h2>
              <h3 *ngIf="friends.get(key)[friends.get(key).length - 2]">
                {{ friends.get(key)[friends.get(key).length - 2].text }}
              </h3>
              <p *ngIf="friends.get(key)[friends.get(key).length - 1]">
                {{ friends.get(key)[friends.get(key).length - 1].text }}
              </p>
            </ion-label> -->
          </ion-item>
        </ion-list>
        <!-- <div id="add">
          <ion-icon name="add-circle" size="small"></ion-icon>
          
        </div> -->
        <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
          <ion-fab-button>
            <ion-icon name="settings"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button
              ><ion-icon name="logo-vimeo"></ion-icon
            ></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<div *ngIf="hasError" class="overlay">
  <div class="popup">
    <div>ERROR!</div>
    <div>{{ errommsg }}</div>
    <div>
      <ion-button color="success" (click)="hasError = false">close</ion-button>
    </div>
  </div>
</div>
