<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #cntc id="contc">
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon
        class="ficon"
        md="caret-up"
        ios="chevron-up-circle-outline"
      ></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="gotoNewFriend()">
        <ion-icon class="ficon" name="add-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" [routerLink]="['/profile']">
        <ion-icon class="ficon" name="person"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="presentMapModal()">
        <ion-icon class="ficon" name="location-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" [routerLink]="['/search']">
        <ion-icon class="ficon" name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid>
    <ion-row size="12">
      <ion-col size="12">
        <ion-searchbar
          id="sc"
          #inpt
          (input)="search($event, inpt.value)"
        ></ion-searchbar>
        <ion-list #cilist id="listid">
          <ion-item-sliding
            *ngFor="let friend of chatHeadsname | keyvalue : originalOrder"
            [disabled]="disable"
          >
            <ion-item-options side="start">
              <ion-item-option
                color="success"
                (click)="gotoProfile(friend.value.dynamicReciever)"
              >
                Profile
              </ion-item-option>
            </ion-item-options>
            <ion-item
              (click)="
                gotoChatDetail(friend.key, friend.value.dynamicReciever);
                disable = true
              "
            >
              <ion-avatar slot="start">
                <img [src]="friendsPic.get(friend.value.dynamicReciever)" />
                <!--<img  [src]="friendsPic.get(friend.key)" src="{{ friendsPic.get(friend.key) }}" />-->
              </ion-avatar>
              <ion-label>
                <h2>
                  <b>{{ friend.value.dynamicReciever }}</b>
                </h2>
                <h3 *ngIf="friend.value.rsp[0]">
                  {{ friend.value.rsp[0].text }}
                </h3>
                <p class="online">online</p>
              </ion-label>

              <ion-badge
                color="danger"
                *ngIf="
                  friend.value.unreadMessageNo != undefined &&
                  friend.value.unreadMessageNo != null &&
                  friend.value.unreadMessageNo > 0
                "
                slot="end"
                >{{ friend.value.unreadMessageNo }}</ion-badge
              >
            </ion-item>
            <ion-item-options side="end">
              <!-- <ion-item-option>Favorite</ion-item-option>-->
              <ion-item-option
                color="danger"
                (click)="
                  presentActionSheet(friend.key, friend.value.dynamicReciever)
                "
              >
                Delete
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
          <ion-fab-button>
            <ion-icon name="settings"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
            <ion-fab-button
              ><ion-icon name="logo-vimeo"></ion-icon
            ></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<div *ngIf="hasError" class="overlay">
  <div class="popup">
    <div>ERROR!</div>
    <div>{{ errommsg }}</div>
    <div>
      <ion-button color="success" (click)="hasError = false">close</ion-button>
    </div>
  </div>
</div>
