.leftcol {
}
.midcol {
  border-left: 2px solid var(--ion-color-primary);
}
.rightcol {
}
.settingsitem {
  background: var(--ion-color-primary-tint);
}
.settingsitem:hover {
  background: var(--ion-color-primary);
}
.selectedTab {
  --background: var(--ion-color-primary);
  font-size: 1.75vw;
  width: -webkit-fill-available;
}
.Tab {
  --background: inherit;
  color: inherit;
  font-size: 1.75vw;
  width: -webkit-fill-available;
}
.Tab:hover {
  --background: var(--ion-color-secondary-tint);
}
ion-list {
  background: inherit;
}
