<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="back()">back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-grid>
    <ion-row size="12">
      <ion-col size="10">
        <ion-col size="10">
          <ion-input id="sc" [(ngModel)]="key"></ion-input>
        </ion-col>
      </ion-col>
      <ion-col size="2">
        <ion-icon id="shbt" name="search-outline" (click)="search()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-card>
    <div class="gcse-search"></div>
  </ion-card>
</ion-content>
<ion-footer> </ion-footer>
