<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/chat', '']" (click)="endModal()"
        >Back</ion-button
      >
    </ion-buttons>
    <ion-title>Find New Friend</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-searchbar></ion-searchbar> -->
  <!-- <div class="searchBar">
    <span>
      <ion-input
        #inpt
        (input)="srch(inpt.value)"
        type="text"
        value=""
        placeholder="search"
        style="width: 95%"
      ></ion-input>
    </span>
    <span style="width: 5%" (click)="srch(inpt.value)"
      ><ion-icon name="search"></ion-icon
    ></span>
  </div> -->
  <ion-searchbar #inpt id="sc" (input)="srch(inpt.value)"></ion-searchbar>
  <ion-list id="listids">
    <ion-item *ngFor="let name of items" (click)="gotoChatDetail(name)">
      <!-- <ion-avatar slot="start">
        <img src="assets/avatar.png" />
      </ion-avatar> -->
      <ion-label *ngIf="name != this.generalService.getUser()">
        <h2>{{ name }}</h2>
        <!-- <h3>{{friend[0]}}</h3>
        <p>{{friend[1]}}</p> -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
